#git-repos {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: flex-start;
        align-content: space-between;
        justify-content: space-between;
        max-width: 100%;
        flex-wrap: wrap;
    }
    li {
        width: 20rem;
        border: 1px solid;
        padding: 1rem 2rem;
        margin: 1rem;
    }
    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.more {
            white-space: wrap;
            overflow: visible;
        }
    }   
}

@media only screen and (max-width: 1648px) {
    #git-repos li {
        width: 15rem;
    }
}

@media only screen and (max-width: 925px) {
    #git-repos li {
        width: 100%;
    }
}