.content {
    width: 80%;
    margin: auto;
}

.split {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}

.split article {
    width: 43%;
}

@media only screen and (max-width: 925px) {
    .split {
        flex-direction: column;
        article {
            width: 100%;
        }
    }
}